<!doctype html>
<html>
  <head>
    <!-- Load Global and Custom CSS HERE -->
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="..img/css/noscript.css" /></noscript>
  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>

    <!-- Scripts -->
  <script src="../js/skel.min.js"></script>
  <script src="../js/skel-viewport.min.js"></script>
  <script src="../js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="../js/main.js"></script>


  </body>
</html>
