<!doctype html>
<html>
  <head>
    <!-- Load Global and Custom CSS HERE -->
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="..img/css/noscript.css" /></noscript>
  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>

    <!-- Scripts -->
  <script src="../js/skel.min.js"></script>
  <script src="../js/skel-viewport.min.js"></script>
  <script src="../js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="../js/main.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64831680-1', 'auto');
  ga('send', 'pageview');

  </script>

  </body>
</html>
